extends layout

block content
  h1= title
  
  form(name="addQuestion",method="post",action="/addQuestion")
    | <br><br>Question:
    input(type="text", name="question")
    | <br><br>One:
    input(type="text", name="one")
    | <br><br>Cross:
    input(type="text", name="cross")
    | <br><br>Two:
    input(type="text", name="two")
    | <br><br>Answere:
    input(type="text", name="answere")
    | <br><br>
    input(type="submit", value="Save")