extends layout

block content
  h1= title
  
  form(method="get",action="/addQuestion")
    | <br>
    button(type="text") Add new question

  form(method="get",action="/createAdmin")
    | <br>
    button(type="text") Create user

  form(method="get",action="/createRound")
    | <br>
    button(type="text") Create new round