extends layout

block content
  h1= title
  
  form(name="addQuestion",method="post",action="/addQuestion")
    | <br>
    button(type="text", name="addQuestion" value="/addQuestion") Add new question

  form(name="createUser",method="post",action="/createUser")
    | <br>
    button(type="text", name="createUser" value="/createUser") Create user

  form(name="createRound",method="post",action="/createRound")
    | <br>
    button(type="text", name="createRound" value="/createRound") Create new round