extends layout

block content
 div(class="container")
  h1= title
  
  form(method="get", class="form-inline",role="form", action="/addQuestion")
    | <br>
    button(type="text", class="btn btn-success") Add new question

  form(method="get",class="form-inline",role="form", action="/createAdmin")
    | <br>
    button(type="text", class="btn btn-success") Create user

  form(method="get",class="form-inline",role="form", action="/createRound")
    | <br>
    button(type="text", class="btn btn-success") Create new round