extends layout

block content
 div(class="container")
  h1= title
  
  <br>
  form(name="createPlayer",method="post",class="form-inline",role="form", action="/createPlayer")
   div(class="form-group")
    input(type="text", name="name", class="form-control", placeholder="Enter name")
   
   <br><br>
   div(class="form-group") 
    input(type="text", name="email", class="form-control", placeholder="Enter your email")

   <br><br>
   div(class="form-group") 
    input(type="password", name="password", class="form-control", placeholder="Enter password")

   <br><br>
   div(class="form-group") 
    input(type="submit", value="Save", class="btn btn-success")