extends layout

block content
  h1= title
    form( method="post", action="/login")
        input(type="text", name="username")
        input(type="submit", value="Save")
  br
  br
  #comments
    - each comment in comments
      div.comment
        div.name= comment.username
        div.created_at= comment.created
        br
        div.content= comment.content 
        hr