extends layout

block content
  h1= title
    form( method="post", action="/login")
        input(type="text", name="username")
        input(type="text", name="password")
        input(type="submit", value="Save")
