extends layout

block content
 div(class="container")
  h1= title
  p #{status}
  <br>
  form(method="get", class="form-inline",role="form", action="/play")
   div(class="form-group")
    input(type='submit', value='Play', class="btn btn-success")
  <br>
  form(method="get", action="/highscore")
   div(class="form-group")
    input(type='submit', value='Highscore', class="btn btn-primary")