extends layout

block content
  h1= title
  
  h3= chooseRound
  form(method="post", action="/play") 
   select(name='roundID')
     each r in Rounds
      option(value=r._id)=r._id
   input(type='submit', value='Choose Round')