extends layout

block content
 div(class="container")
  h1= title  
  <br>
  h4= chooseRound
  <br>
  form(method="post",class="form-inline",role="form", action="/play") 
   div(class="form-group")
    select(name='roundID', class="form-control")
     each r in Rounds
      option(value=r._id)=r._id
  <br>  
  input(type='submit', value='Choose Round', class="btn btn-success")